<div class="whole-container">

  <!-- To Do Column -->
  <div class="box-container">
    <h2>To do</h2>
    <!-- Input field for adding new task -->
    <div class="add-task">
      <input [(ngModel)]="newTask" placeholder="Enter a new task" />
      <button (click)="addTask()">+</button>
    </div>
    <!-- List of tasks in To do column -->
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList,inProgressList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of todo" class="example-box" cdkDrag>{{item}}</div>
    </div>
  </div>

  <!-- In Progress Column -->
  <div class="box-container">
    <h2>In Progress</h2>
    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList,doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of inProgress" class="example-box" cdkDrag>{{item}}</div>
    </div>
  </div>

  <!-- Done Column -->
  <div class="box-container">
    <h2>Done</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList,inProgressList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of done" class="example-box" cdkDrag>{{item}}</div>
    </div>
  </div>

</div>
